extends layout 

block content   
  nav(class="nav")
    div
      h1=user.username
    div(class="links")
      if !user.membership_status
        a(href="/membership") Be a Member
      if !user.admin
        a(href="/admin") Be an Admin
      else 
        p You're in Admin Mode
      a(href="/logout") Logout
  div(class='main-content')
    div(class='left-side')
      if messages 
        each message in messages 
          div(class="message-container")
            a(href=message.author.url) #{message.author.username}
            p Title:
              strong= message.title
            p Message:
              strong= message.text
            p=message.date
    div(class='right-side')
      form(action="", method="post") 
        div
          label(for="title") Title:
          input(type="text" name='title' required )
        div
          label(for="text") Message:
          input(type="text" name="text" maxlength=100 required)  
        button(type="submit") Send