extends layout 

block content 
  nav(class="nav")
    div
      h1=user.username
    div(class="links")
      a(href='/dashboard') Dashboard
      if !user.membership_status
        a(href="/membership") Be a Member
      if !user.admin
        a(href="/admin") Be an Admin
      else 
        p You're in Admin Mode
      a(href="/logout") Logout
  div(class='user-main-content')
    div(class='user-info')
      h1=visited_user.username
      p=visited_user.complete_name
      if visited_user.membership_status
        p Member 
      else 
        p Not member
      if visited_user.admin   
        h2 Admin
      p Created: #{visited_user.date}
    div(class='user-messages')
      if visited_user_messages
        each message in visited_user_messages 
          div(class="message-container-dashboard")
              a(href=message.author.url) #{message.author.username}
              div
                p Title:
                strong= message.title
              div
                p message;
                strong= message.text
              p=message.date
              if user.admin 
                a(class="delete-btn" href=`/admin${message.url}/delete`) X
